[submodule "vendor/rails"]
	path = vendor/rails
	url = git://git.zodal.net/libraries/rails.git
[submodule "lib/recipes"]
	path = lib/recipes
	url = git://git.zodal.net/tools/capistrano-recipes.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://git.zodal.net/plugins/make_resourceful.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://git.zodal.net/plugins/restful_authentication.git
