%div[domain]
  %p.name
    = link_to h(domain.name), object_path(domain)
    |
    = link_to "Accounts", domain_accounts_path(domain)
    |
    = link_to "Forwardings", domain_forwardings_path(domain)
